/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* Left Nav Bar */
body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 100px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/* Grid */
.row {
	margin-bottom: 25px;
}

/* Classes */
.leftIcons {
	height: 50px;
	width: 50px;
}

.profileLogo {
	height: 105px;
	height: 100px;
	position: relative;
	top: 15px;
	left: 50px;
}

.PagePics {
	height: 225px;
	width: 150px;
	margin-left: 15px;
	margin-top: 7.5px;
	border-radius: 15px;
}

/* ----------Elements---------- */

/* Left Bar Icons */
#linkedIn {
	position: absolute;
	right: 25px;
	left: 25px;
	top: 50px;
}

#faceBook {
	position: absolute;
	right: 25px;
	left: 25px;
	top: 125px;
}

#gitHub {
	position: absolute;
	right: 25px;
	left: 25px;
	top: 200px;
}

#gPlus {
	position: absolute;
	right: 25px;
	left: 25px;
	top: 275px;
}



/* Left Bar Hovers */
#linkedIn:hover {
	opacity: 0.7;
	transition: .3s ease;
}

#faceBook:hover {
	opacity: 0.7;
	transition: .3s ease;
}

#gitHub:hover {
	opacity: 0.7;
	transition: .3s ease;
}

#gPlus:hover {
	opacity: 0.7;
	transition: .3s ease;
}














